{% extends "claimzy_in/base.html" %} {% load static %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Customer Profile</h5>
        </div>
        <div class="card-body">
          <form action="{% url 'claimzy-profileupdate' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>ID (disabled)</label>
                  <input
                    type="text"
                    class="form-control"
                    readonly
                    placeholder="Company"
                    value="{{user.id}}"
                    name="id"
                  />
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    value="{{user.name}}"
                    name="name"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Registered Mobile Number</label
                  >
                  <input
                    type="tel"
                    readonly
                    class="form-control"
                    placeholder=""
                    value="{{user.mob}}"
                    name="mob"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Address Line 1</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Home Address"
                    value="{{user.address}}"
                    name="address"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Address Line 2</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Address Line 2"
                    value="{{user.addresstwo}}"
                    name="address2"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    value="{{user.city}}"
                    name="city"
                  />
                </div>
              </div>

              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Pincode</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Pincode"
                    value="{{user.pincode}}"
                    name="pincode"
                  />
                </div>
              </div>

              <div class="col-md-4 px-1">
                <label for="state"
                  ><span style="color: red">*</span>State</label
                >
                <div class="form-group">
                  <select name="state" required class="form-control">
                    <option value="{{user.state}}" selected="selected">
                      {{user.state}}
                    </option>
                    <option disabled value="">
                      _________________________________
                    </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">
                      Andaman and Nicobar Islands
                    </option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">
                      Dadar and Nagar Haveli
                    </option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="{% static 'claimzy_in/img/bg5.jpg' %}" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="{% static 'claimzy_in/img/mike.jpg' %}"
                alt="..."
              />
              <h5 class="title">{{user.first_name}}&nbsp;{{user.last_name}}</h5>
            </a>
            <p class="description">{{user.username}}</p>
          </div>
          <p class="description text-center">
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var element = document.getElementById("my-profileNav");
  element.classList.add("active");
</script>
{% endblock content %}
